// SCSS-Variablen (nur während des Builds verfügbar)
$primary: #0A05F9; // Primärfarbe
$background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); // Hintergrundfarbe
$text: #0a0a19; // Textfarbe

// CSS-Variablen (zur Laufzeit verfügbar für JS & Stylesheets)
:root {
  --primary: #{$primary};
  --text-primary: #{$primary};
}
