# This file is used to set environment variables for the development environment.

# MediaWiki Commons API Endpoint
# This is the URL for the Wikimedia Commons API, which is used to fetch media files and metadata.
GATSBY_COMMONS_API_URL=https://commons.wikimedia.org/w/api.php