# This file is used to set environment variables for the production build of a Gatsby application.

# Path to the production build of the Gatsby application
# For Github Pages, this is typically the URL of the repository.
GATSBY_PATH_PREFIX=/tool-storage-interface


# MediaWiki Commons API Endpoint
# This is the URL for the Wikimedia Commons API, which is used to fetch media files and metadata.
GATSBY_COMMONS_API_URL=https://commons.wikimedia.org/w/api.php