# This file is used to set environment variables for the production build of a Gatsby application.

# Path to the production build of the Gatsby application
# For Github Pages, this is typically the URL of the repository.
GATSBY_PATH_PREFIX=

# Wikidata SPARQL data source
# Used by local gatsby plugin gatsby-source-research-tools
# This is the URL for the Wikidata SPARQL Query Service API which is used to fetch the subset of DH tools in the Wikidata graph.
GATSBY_WD_SPARQL_URL=https://qlever.cs.uni-freiburg.de/api/wikidata

# Wikidata Linked Data Fragments/ Triple Data Fragments server
GATSBY_WD_LDF_URL=https://query.wikidata.org/bigdata/ldf

# TaDiRAH SPARQL data source
# Used by local gatsby plugin gatsby-source-research-tools
# This is the URL for the TaDiRAH Turtle file, which is used to fetch the TaDiRAH concepts.
GATSBY_TADIRAH_FILE_URL=https://vocabs-downloads.acdh.oeaw.ac.at/vocabs-main/Humanities/TaDiRAH/tadirah.ttl

# MediaWiki Commons API Endpoint
# This is the URL for the Wikimedia Commons API, which is used to fetch media files and metadata.
GATSBY_COMMONS_API_URL=https://commons.wikimedia.org/w/api.php