$primary: #0000ff;
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'DDIN-Bold';
  //font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Bold';
  src: url(./static/fonts/D-DIN-Bold.woff2) format("woff2");
}

@font-face {
  font-family: 'DDINCondensed';
  //font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(./static/fonts/D-DINCondensed.woff2) format("woff2");
}

body {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

#subtitle {
  color: $primary;
}

.react-icons {
  vertical-align: middle;
}

a:hover {
  /*   --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
      
     */
  color: $primary;
  text-decoration: underline;
}

a {
  color: inherit;
}

.btn {
  background-color: white;
  border-color: var(--bs-btn-hover-border-color);

  &:hover {
    color: white;
    background-color: $primary;
  }
}

.btn-primary {
  color: white;
  background-color: $primary;
}

.start-page-container {
  -webkit-filter: drop-shadow(1px 1px 5px #717171);
  filter: drop-shadow(1px 1px 5px #717171);
}

label {
  font-weight: bold;
}

.kdh-short-desc {
  font-size: calc(1.275rem + .2vw);
}