@import "variables";

$position-values: (
  0: 0,
  5: 5%,
  10: 10%,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'DDIN-Bold';
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Bold';
  src: 
    local('DDIN-Bold'),
    url('#{$font-path}/D-DIN-Bold.woff2') format("woff2");
}

@font-face {
  font-family: 'DDIN';
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src:
    local('DDIN'), 
    url('#{$font-path}/D-DIN.woff2') format("woff2");
}

@font-face {
  font-family: 'DDIN-Italic';
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Italic';
  src: 
    local('DDIN-Italic'),
    url('#{$font-path}/D-DIN-Italic.woff2') format("woff2");
}

body {
  background-image: $background;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#title {
  color: $primary;
}

.card {
  background: #ffffff;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%) !important;
}
.item-box {
  background-color: rgba(255, 255, 255, 0.6);
}

.react-icons {
  vertical-align: middle;
  color: $primary
}

a:hover {
  /*   --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
      
     */
  color: $primary;
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration-color: $primary;
}

.icon-link {
  text-decoration-color: $primary;
}

.btn {
  background-color: white;
  border-color: var(--bs-btn-hover-border-color);

  &:hover {
    color: white;
    background-color: $primary;
  }
}

.btn-primary {
  color: white;
  background-color: $primary;
}

.kdh-short-desc {
  font-size: calc(1.275rem + .2vw);
  color: var(--text-secondary)
}

.start-page-container {
  h1, h2 {
    -webkit-filter: drop-shadow(1px 1px 8px #717171);
    filter: drop-shadow(1px 1px 8px #717171);
  }

  img {
    -webkit-filter: drop-shadow(1px 1px 5px #002FEA);
    filter: drop-shadow(1px 1px 5px #002FEA);
  }
}

hr {
  margin: 0.6rem 0;
}

a.anchor {
  fill: "red";
}

.custom-anchor {
  fill: $primary;
}

.icon-color-secondary {
  color: $secondary;
}

.item-box {
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
          transform: translateY(-5px);
          box-shadow: 0 10px 25px rgba(0,0,0,0.15);

  }
}

.hero-section {
  // 1. Die Sektion so hoch wie der Bildschirm machen
  //height: 100vh; // vh = viewport height (100% der Bildschirmhöhe)

  // 2. Den Inhalt (die TitleBox) perfekt zentrieren
  //display: flex;
  //align-items: center;      // Vertikal zentrieren
  //justify-content: center;  // Horizontal zentrieren

  // 3. (Optional) Einen dezenten Hintergrund für den Kontrast
  //background-color: #f8f9fa; 
}

/* * Dies sorgt für den "Slide"-Effekt, wenn man z.B. einen 
 * Anker-Link zum Scrollen nutzt (siehe Schritt 3)
 */
html {
  scroll-behavior: smooth;
}