@import "variables";

.page-link svg {
    vertical-align: bottom;
}

.pagination {
    --bs-pagination-color: #{$primary}; // SCSS-Variable direkt einsetzen
    --bs-pagination-hover-color: #{$primary};
    --bs-pagination-active-bg: #{$primary};
    --bs-pagination-active-border-color: #{$primary};
}