// Dependencies: bootstrap
@import "variables";

.toolstable { 
    --bs-table-bg: transparent !important;
    --bs-table-border-color: rgba(0,0,0,0) !important;
}

tbody {
    border-top-color: $primary !important;
}

.toolstable tr:hover {
   background-color: white !important;
}